html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background-color: #f3f3f3;
}


/* Input */
/* input.react-autosuggest__input {
  width: 100%;
  border: none;
  background: none;

  font-size: 2em;
  font-weight: 300
} */


.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 100%;
  height: 30px;
  padding: 2rem 1rem;
  margin: 0.5em 0;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 2em;
  border: none;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 61px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.react-autosuggest__section-container {
  border-top: 1px dashed #ccc;
}

.react-autosuggest__section-container--first {
  border-top: 0;
}

.react-autosuggest__section-title {
  padding: 10px 0 0 10px;
  font-size: 12px;
  color: #777;
}


.search-container {
  position: relative;
}


.close-icon{
  border: 0px solid;
  background: none;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0%;
  padding: 0 1em;
  font-size: 2em;
  font-weight: 300;
  color: #777;
}


/* */

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropup .caret {
    content: "";
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid\9;
}

.container.fluid {
    padding: 0;
}

.container .segment {
    border: none;
}

/* ------------------------------------------------------------------------- */

table.table {
  border-spacing: 0 .5rem;
  border-collapse: separate;
}

table.table tbody tr {
  background-color: white;
}

table.table tbody td, table.table thead th {
  border: none;
}

/* Labels take full width of the cell */
td:nth-child(2) div {
  display: flex;
}

.ui.empty.circular.label, .ui.empty.circular.labels .label {
  border-radius: 0;
  width: 100%;
}


.card__done {
  text-decoration: line-through;
  color: #aaa;
  font-weight: 300;
}